<h2>{{title}}</h2>

<ul>
  {{#each books as |book|}}
    <li>
      <div class="book-item">
        <div>
          image
        </div>
        <div>
          <h3>{{book.name}}</h3>
          <ul>
            <li>Autor: {{book.author}}</li>
            <li>Count: {{book.description}}</li>
          </ul>
        </div>
      </div>
    </li>
  {{/each}}
</ul>