<div class={{content.nameClass}}>
    <div class="form-control">
        {{content.name}}
    </div>
</div>
<div class={{content.class}}>
    {{input
        type=content.type
        value=content.value
        class="form-control"
        placeholder=content.placeholder}}
</div>