<nav class="navbar navbar-light bg-faded mb-3">
  {{#link-to 'index' class="button"}}
    <button>Home</button>
  {{/link-to}}
  {{#link-to 'catalog' class="button"}}
    <button>Catalog</button>
  {{/link-to}}
  {{#link-to 'book' class="button"}}
    <button>Book</button>
  {{/link-to}}
  {{#link-to 'profile' class="button"}}
    <button>Profile</button>
  {{/link-to}}
  {{#link-to 'about' class="button"}}
    <button>About</button>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    {{#link-to 'login'}}
      <button>Login</button>
    {{/link-to}}
  {{/if}}
</nav>
