<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav list-inline">
      {{#each elements as |element|}}
      <li>
        {{#link-to element.link class="button"}}
          {{element.title}}
        {{/link-to}}
      </li>
      {{/each}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{#if session.isAuthenticated}}
          <button {{action 'invalidateSession'}} class="btn-link">Logout</button>
        {{else}}
          {{#link-to 'login'}}
            <button {{action 'invalidateSession'}} class="btn-link">Login</button>
          {{/link-to}}
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
