<div>
    {{admin-table
        model=model
        tableDescription=tableDescription
        editItem=(action 'editBook')
        deleteItem=(action 'deleteBook')
    }}
    {{input-form
        formDescription=formDescription
        saveItem=(action 'saveBook')
        cancel=(action 'cancel')
    }}
</div>