<div>
  {{admin-table
    model=model
    tableDescription=tableDescription
    editItem=(action 'editComment')
    deleteItem=(action 'deleteComment')
  }}

  {{input-form
    formDescription=formDescription
    saveItem=(action 'saveComment')
    cancel=(action 'cancel')
  }}

  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
</div>